In [2]:
import sqlite3
import pandas as pd 



conn = sqlite3.connect('db/movies.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS movies(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    genre TEXT,
    year INTEGER,
    imdb_rating REAL
    )
''')



query = '''
SELECT id as Movie_ID, name as Movie_Title, imdb_rating as Rating
FROM movies
WHERE genre = 'horror' AND year <= 1985
ORDER BY imdb_rating DESC
LIMIT 3;
'''
df = pd.read_sql(query, conn)
print(df)
conn.close()

   Movie_ID            Movie_Title  Rating
0       226            The Shining     8.4
1       100               Gremlins     7.2
2       116  The Amityville Horror     6.2